<%- contentFor('body') %>
<form id="formContainer" onsubmit="return on_form_submit()">
  <div class="text-center">
    <button id="recognizeFaceBtn" type="submit" class="btn btn-primary disabled">Recognize</button>
  </div>
</form>

<div class="row">
  <div class="col-sm-2">&nbsp;</div>
  <div class="col-sm-8">
    <div id="result" class="bd-block">
    </div>
  </div>
  <div class="col-sm-2">&nbsp;</div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <button id="snapshotBtn" onclick="on_take_snapshot()" type="button" class="btn btn-danger mt-2 mb-2 disabled"> Take Snapshot </button>
  </div>
</div>

<div id="videoContainer" class="row">
  <div class="col-md-6">
    <video id="mainVideo" width="640" height="480" autoplay></video>
  </div>
  <div class="col-md-6">
    <canvas id="mainCanvas" width="640" height="480">
  </div>
</div>

<%- contentFor('scripts') %>
<script type="text/javascript">
  let canvas_elem = document.getElementById("mainCanvas"),
    ctx = canvas_elem.getContext('2d'),
    video_elem = document.getElementById("mainVideo"),
    $recognizeFaceBtn = $("#recognizeFaceBtn");

  function showResult (res) {
    var $result = $("#result");
    console.log("showResult", res);

    $result.empty();

    if (res.length) {
      for (let i = 0, len = res.length; i < len; i++) {
        let data = res[i],
          $address = $(`
            <address>
              <strong>#${i+1} - ${data.name}</strong> <br/>
              Score: <em>${data.score}</em> <br/>
              Dist : <em>${data.distance}</em>
            </address>
          `);

        $result.append($address);
      }
    }
    else {
      $result.append(`
        <h5> No matches found </h5>
      `);
    }
  };

  function on_form_submit () {
    var canSubmit = !$recognizeFaceBtn.hasClass('disabled');

    if (canSubmit) {
      console.log(":: on form submit");
      var dataUrl = canvas_elem.toDataURL();

      $recognizeFaceBtn.addClass('disabled');
      $recognizeFaceBtn.text("Recognizing...");

      $.ajax({
        type: "POST",
        url: "./recognizeFace",
        data: {
          image: dataUrl
        }
      }).done(function (res) {
        if (res.code === 200) {
          // Success
          $recognizeFaceBtn.text("Recognize");
          ctx.clearRect(0, 0, canvas_elem.width, canvas_elem.height);
          showResult(res.data);
        }
        else {
          // Fails
          $recognizeFaceBtn.removeClass('disabled');
          $("#formContainer").showAlert("error", res.status, res.message);
        }
      });
    };


    return false;
  };

  function on_take_snapshot () {
    canvas_elem.width = video_elem.videoWidth;
    canvas_elem.height = video_elem.videoHeight;
    ctx.drawImage(video_elem, 0, 0, canvas_elem.width, canvas_elem.height);
    $recognizeFaceBtn.removeClass("disabled");
  };

  $(function () {
    let $form = $("#mainForm"),
      $snapshotBtn = $("#snapshotBtn"),
      video_elem = document.getElementById("mainVideo"),
      stream;

    function gotStream (mediaStream) {
      window.stream = mediaStream;
      video_elem.srcObject = mediaStream;

      let track = mediaStream.getVideoTracks()[0],
        constraints = track.getConstraints();

      $snapshotBtn.removeClass('disabled');

      console.log('Result constraints: ' + JSON.stringify(constraints));
    };

    function getMedia (constraints) {
      if (stream) {
        stream.getTracks().forEach(function(track) {
          track.stop();
        });
      }

      navigator.mediaDevices.getUserMedia(constraints)
      .then(gotStream)
      .catch(function (err) {
        $snapshotBtn.addClass('disabled');
        $("#videoContainer").showAlert('danger', 'GUM!', err.name);
      });
    };

    var qvgaConstraints = {
        audio: false,
        video: {width: {exact: 320}, height: {exact: 240}}
      },
      vgaConstraints = {
        audio: false,
        video: {width: {exact: 640}, height: {exact: 480}}
      },
      hdConstraints = {
        audio: false,
        video: {width: {exact: 1280}, height: {exact: 720}}
      },
      fullHdConstraints = {
        audio: false,
        video: {width: {exact: 1920}, height: {exact: 1080}}
      },
      fourKConstraints = {
        audio: false,
        video: {width: {exact: 4096}, height: {exact: 2160}}
      },
      eightKConstraints = {
        audio: false,
        video: {width: {exact: 7680}, height: {exact: 4320}}
      };

    getMedia(vgaConstraints);

  });
</script>